<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
        <rewrite>
            <rules>
                <rule name="Home">
                    <match url="^home$" />
                    <action type="Rewrite" url="index.php" />
                </rule>
                <rule name="NewPassword">
                    <match url="^app/new-password/(.*)$" />
                    <action type="Rewrite" url="index.php?new-password=true&amp;hash={R:1}" />
                </rule>				
            </rules>
        </rewrite>
        <caching>
            <profiles>
                <add extension=".php" policy="DontCache" kernelCachePolicy="DontCache" />
            </profiles>
        </caching>
    </system.webServer>
</configuration>
