<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>

                <rule name="NewPassword">
                    <match url="^new-password/(.*)$" />
                    <action type="Rewrite" url="index.php?new-password=true&amp;hash={R:1}" appendQueryString="false" />
                </rule>				
            </rules>
        </rewrite>
        <defaultDocument>
            <files>
                <remove value="Default.htm" />
                <remove value="Default.asp" />
                <remove value="index.htm" />
                <remove value="index.html" />
                <remove value="iisstart.htm" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>